<footer>
    <p>&copy; 2018 Ropto. All rights reserved</p>
    <p><a href="/privacy.html#cookies">Cookie Policy</a> | <a href="/privacy.html">Privacy Policy</a></p>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!--build:js js/main.min.js -->
    <script src="js/lazy-load.js"></script>
    <script src="js/menu.js"></script>
    <script src="js/swipe.js"></script>
    <script src="js/text-carousel.js"></script>
<!-- endbuild -->

</body>
</html>
