  @@include('./includes/header.html', {"home":true} )

    <!-- BANNER -->
    <section class="section main-bg lazy-bg lazy-bg-img">
        <div class="container banner" id="banner">
          <div class="banner-text">
            <h1><strong>Real-time</strong><br> lead generation</h1>
          </div>
        </div>
    </section>


    <!-- WHO IS ROPTO -->
    <section class="section split-bg-img bg-woman lazy-bg lazy-bg-img" id="who-is-ropto">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <h2>Who is Ropto?</h2>
                    <p>
                        We’re a real-time performance marketing agency. Put simply, we generate inbound sales leads for your business. We call ourselves a ‘performance’ marketing agency because our revenue is based on us hitting specific metrics; in other words, you pay the same price for a lead no matter how well we perform on Google, Facebook or Native platforms. You get the name and the contact details of someone who has asked to be approached, and who has an intent to purchase your product/service – for a fixed price.
                    </p>
                </div>
                <div class="col-6">
                </div>
            </div>
        </div>
    </section>

    <!-- ROPTO IN NUMBERS -->
    <section class="section light-grey-bg ropto-in-numbers-bg" id="ropto-in-numbers">
        <div class="container ropto-in-numbers">
            <div class="ropto-numbers">
                <h2>Ropto in numbers</h2>
                <ul>
                    <li>
                        <ul>
                            <li class="title">Leads</li>
                            <li class="stat">1.9</li>
                            <li class="caption">Million</li>
                        </ul>
                    </li>
                    <li>
                        <ul>
                            <li class="title">Spend</li>
                            <li class="stat">£37</li>
                            <li class="caption">Million spent</li>
                        </ul>
                    </li>
                    <li>
                        <ul>
                            <li class="title">Impressions</li>
                            <li class="stat">17+</li>
                            <li class="caption">Billion</li>
                        </ul>
                    </li>
                    <li>
                        <ul>
                            <li class="title">Reach</li>
                            <li class="stat">2+</li>
                            <li class="caption">Billion</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <!-- WHAT WE DO -->
    <section class="section mid-blue-bg split-bg-img bg-laptop lazy-bg lazy-bg-img" id="what-we-do">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div>
                        <h2>What<br> we do</h2>
                        <p>
                            We market your brand and business to generate leads. We create your adverts, social account page (if required) and landing pages then map out a robust campaign strategy to run it across a multitude of platforms including Facebook, Instagram, Google, Snapchat and/or Native channels. Before anything goes live, you sign it off, whether we use your own brand or we generate one ourselves to deliver leads to your sales team.
                        </p>
                    </div>
                </div>
                <div class="col-6">
                </div>
            </div>
        </div>
    </section>

    <!-- HOW WE ARE DIFFERENT -->
    <section class="section light-grey-bg split-bg-img bg-tablet lazy-bg lazy-bg-img" id="how-were-different">
        <div class="container">
            <div class="row switch-cols">
                <div class="col-6">
                    <h2>How we're different</h2>
                    <p>
                        Because we take the risk of buying the media, each of our Campaign Manager’s work in real-time; so we make decisions and not computers! However, we also use our bespoke software that aggregates data from the various platforms giving unique insights into live campaigns which allows the campaign managers to optimise and manage the lead acquisition more efficiently. Therefore, providing you with leads of the price, quantity and quality that you want. It’s a perfect balance of technology and human interaction.
                    </p>
                </div>
                <div class="col-6">
                    <!--
                    <img class="lazy-img image image-xl" src="images/illo-tablet-blur.jpg" data-src="images/illo-tablet-1x.png, images/illo-tablet-2x.png" data-srcset="images/illo-tablet-1x.png 1x, images/illo-tablet-2x.png 2x" width="100%" height="auto">-->
                </div>
            </div>
        </div>
    </section>

    <!-- HOW WE DO IT -->
    <section class="section split-bg-img bg-location lazy-bg lazy-bg-img" id="how-we-do-it">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div>
                        <h2 class="green-rule">How<br> we do it</h2>
                        <h3>
                            Adverts
                        </h3>
                        <p>
                            The creative we’ve built will be hosted on the best-suited social platform for your audience and will be seen on a potential prospect’s newsfeed where they’ll click it learn more. The ability to curate an ad specific to your business needs.
                        </p>
                    </div>
                </div>
                <div class="col-6">
                </div>
            </div>
        </div>
    </section>

    <!-- LANDING PAGE/ADVERTORIAL -->
    <section class="section split-bg-img bg-laptop-viewers lazy-bg lazy-bg-img">
        <div class="container">
            <div class="row switch-cols">
                <div class="col-6">
                    <div class="advertorial-text">
                        <h3>Advertorial</h3>
                        <p>
                            The creative we’ve built will be hosted on the best-suited social platform for your audience and will be seen on a potential prospect’s newsfeed where they’ll click it learn more. The ability to curate an ad specific to your business needs.
                        </p>
                    </div>
                </div>
                <div class="col-6">
                </div>
            </div>
        </div>
    </section>

    <!-- LEAD -->
    <section class="section split-bg-img bg-submit lazy-bg lazy-bg-img">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div>
                        <h3>
                            Lead
                        </h3>
                        <p>
                            Having completed the form, we will send the lead in real-time to your CRM via API, giving you the best chance to convert. By the time the potential customer has submitted their details they have consumed information about your product/service and are expecting contact from you. The rest is up to you! However, by providing very detailed feedback we are able to identify the adverts and customer journey that generated the most profit for you.
                        </p>
                    </div>
                </div>
                <div class="col-6">
                </div>
            </div>
        </div>
    </section>

    <!-- CASE STUDIES -->
    <section class="section light-grey-bg case-studies" id="client-case-studies">
        <div class="container container-xl">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="no-rule">
                        Client case studies
                    </h2>
                    <p>
                        Download our case studies to learn more about the impact we’ve made on our clients’ businesses across a multitude of sectors including: financial services, education, automotive, property and utilities.
                        <br><br><br>
                    </p>

                </div>
            </div>
            <div class="row row-top">
                <div class="col-6 flow-col">
                    <ul>
                        <li>
                            <p>Education Case Study</p>
                            <a href="#">
                                <button>Download</button>
                            </a>
                        </li>
                        <li>
                            <p>Mis-sold Investments Case study</p>
                            <a href="#">
                                <button>Download</button>
                            </a>
                        </li>
                        <li>
                            <p>Automotive Case study</p>
                            <a href="#">
                                <button>Download</button>
                            </a>
                        </li>
                        <li>
                            <p>Blog 2</p>
                            <a href="#">
                                <button>Download</button>
                            </a>
                        </li>
                        <li>
                            <p>Blog 4</p>
                            <a href="#">
                                <button>Download</button>
                            </a>
                        </li>
                        <li>
                            <p>TCG Infographic</p>
                            <a href="#">
                                <button>Download</button>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-6">
                    <ul>
                        <li>
                            <p>Charity Case Study</p>
                            <a href="#">
                                <button>Download</button>
                            </a>
                        </li>
                        <li>
                            <p>Hearing Aids Case study</p>
                            <a href="#">
                                <button>Download</button>
                            </a>
                        </li>
                        <li>
                            <p>Blog 1</p>
                            <a href="#">
                                <button>Download</button>
                            </a>
                        </li>
                        <li>
                            <p>Blog 3</p>
                            <a href="#">
                                <button>Download</button>
                            </a>
                        </li>
                        <li>
                            <p>Blog 5</p>
                            <a href="#">
                                <button>Download</button>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- TESTIMONIALS -->
    <section class="section mid-blue-bg testimonials" id="testimonials">
        <div class="container container-xl">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="no-rule">
                        Here’s what some of our clients say about us:
                    </h2>
                    <div class="testimonial" id="testimonial">
                </div>
            </div>
        </div>
    </section>

    <!-- SAY HELLO -->
    <section class="section contact split-bg-img bg-address lazy-bg lazy-bg-img" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div>
                        <h2>Say <br>hello</h2>
                        <div class="row row-top">
                            <div class="col-6">
                                <address>
                                    Hale Place<br>
                                    2nd Floor<br>
                                    229 Ashley Road<br> Hale<br>
                                    WA15 9SX<br>
                                </address>
                                <a href="https://www.google.co.uk/maps/place/2nd+Floor,+229+Ashley+Rd,+Hale,+Altrincham+WA15+9SX/@53.375981,-2.345596,17z/data=!3m1!4b1!4m5!3m4!1s0x487bacb0e3d6c8d3:0x2dc12e9da3c2b829!8m2!3d53.375981!4d-2.3434073" target="_blank">
                                    <button>Google Maps</button>
                                </a>
                            </div>
                            <div class="col-6">
                                <address>
                                    WeWork<br>
                                    No.1 Spinningfields<br> Quay St<br>
                                    Manchester<br>
                                    M3 3JE<br>
                                </address>
                                <a href="https://www.google.co.uk/maps/place/WeWork/@53.478986,-2.2519826,15z/data=!4m5!3m4!1s0x0:0xf599f92f0b17a76b!8m2!3d53.478986!4d-2.2519826" target="_blank">
                                    <button>Google Maps</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                </div>
            </div>
        </div>
    </section>

    <!-- CONNECT WITH US -->
    <section class="section social split-bg-img bg-connect lazy-bg lazy-bg-img">
        <div  class="container">
            <div class="row switch-cols">
                <div class="col-6">
                    <h2 class="green-rule">Connect with us</h2>
                    <p>
                        Click an icon once to check out our page. Click again to take you there so you can explore more.
                    </p>
                    <ul>
                        <li><img src="images/icon-twitter.png" alt="Twitter icon"><a href="https://twitter.com/ropto_leads" target="_blank"></a></li>
                        <li><img src="images/icon-facebook.png" alt="Facebook icon"><a href="https://www.facebook.com/ropto" target="_blank"></a></li>
                        <!--<li><img src="images/icon-instagram.png" alt="Instagram icon"><a href="#" target="_blank"></a></li>-->
                        <li><img src="images/icon-linkedin.png" alt="LinkedIn icon"><a href="https://www.linkedin.com/company/ropto" target="_blank"></a></li>
                    </ul>
                </div>
                <div class="col-6">
                    <!--
                    <img class="lazy-img image image-xl" src="images/illo-social-blur.jpg" data-src="images/illo-social-1x.png, images/illo-social-2x.png" data-srcset="images/illo-social-1x.png 1x, images/illo-social-2x.png 2x" width="100%" height="auto">
                    -->
                </div>
            </div>
        </div>
    </section>

    @@include('./includes/footer.html')
